<h3><%= @post.name %></h3>
<div class='all-posts'>
    <ul class='posts'>
        <% @post.posts.each do |item| %>
          <li class='post'>
            <p>Post #<%= item.id%></p>
            <p><%= item.title %></p>
            <p><%= item.text %></p>
            <p class='details'>
                <span>comments: <%= item.comments_counter %></span>, 
                <span>Likes: <%= item.likes_counter %> </span>
            </p>
          </li>
        <% end %>
    </ul>
</div>