<h3><%= @post.name %></h3>
<div>
    <%@post.posts.each.with_index(1) do |item ,index| %>
        <p>Post #<%=index%> </p>
        <div>
            <p><%= item.text %></p>
             <% item.comments.each do |item| %>
               <p>Comments : <%= User.find_by(id:item.author_id).name %> </p>
             <% end %>
        </div>
        </span> Comment : <%= item.comments_counter %>, Likes: <%= item.likes_counter%> </span>
    <% end %>
</div>