<div class='all-posts'>
    <div class= 'name-img'> 
         <img src=<%=@post.photo%> alt='Profile' class = 'cover-img'  />
        <div class='name' >
           <p> <%= @post.name %></h3></p>
           <p class='nmb-posts'>Number of posts: <%= @post.posts_counter %> </p>
        </div>
    </div>

    <ul class='posts'>
        <% @post.posts.each do |item| %>
          <li class='post'>
            <p>Post #<%= item.id%></p>
            <p>
                 <%= link_to item.title , "posts/#{item.id}" %>
            </p>
            <p><%= item.text %></p>
            <p class='details'>
                <span>comments: <%= item.comments_counter %></span>, 
                <span>Likes: <%= item.likes_counter %> </span>
            </p>
          </li>
          <div class='five-comments'>

            <% item.five_recent_comments.each do |item| %>
               <p>User : <%= item.author.name %></p>
               <p><%= item.text %></p>
             <% end %>

             <div class='cmt'>
                <P>
                <%= link_to 'Add a comment' , "/users/#{@post.id}/posts/#{item.id}/comments/new" %>
                </P>
                <P>
                  <%= link_to 'Like' , "/users/#{@post.id}/posts/#{item.id}/likes/" %>
                </P>
             </div>
          </div>
        <% end %>
    </ul>
    <button class='btn'>
        <%= link_to 'Pagination' , "/users/#{@post.id}" %>
    </button>
</div>